parameters:
	ignoreErrors:
		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with 2 and 1 will always evaluate to false\\.$#"
			count: 1
			path: ../tests/Unit/Job/CallbackJobTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with 2 and 1 will always evaluate to false\\.$#"
			count: 1
			path: ../tests/Unit/SchedulerTest.php

		-
			message: "#^Parameter \\#1 \\$end of class Orisai\\\\Scheduler\\\\Status\\\\JobResult constructor expects DateTimeImmutable, DateTimeImmutable\\|false given\\.$#"
			count: 1
			path: ../tests/Unit/SchedulerTest.php

		-
			message: "#^Parameter \\#1 \\$start of class Orisai\\\\Scheduler\\\\Status\\\\JobInfo constructor expects DateTimeImmutable, DateTimeImmutable\\|false given\\.$#"
			count: 2
			path: ../tests/Unit/SchedulerTest.php
