parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$expression of method Orisai\\\\CronExpressionExplainer\\\\CronExpressionExplainer\\:\\:explain\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: ../src/Command/ListCommand.php

		-
			message: "#^Parameter \\#1 \\$input of function str_pad expects string, string\\|null given\\.$#"
			count: 1
			path: ../src/Command/ListCommand.php

		-
			message: "#^Parameter \\#1 \\$str of function mb_strlen expects string, string\\|null given\\.$#"
			count: 1
			path: ../src/Command/ListCommand.php

		-
			message: "#^Only booleans are allowed in a ternary operator condition, mixed given\\.$#"
			count: 1
			path: ../src/Command/RunCommand.php

		-
			message: "#^Only booleans are allowed in a negated boolean, mixed given\\.$#"
			count: 1
			path: ../src/Command/RunJobCommand.php

		-
			message: "#^Only booleans are allowed in an if condition, mixed given\\.$#"
			count: 2
			path: ../src/Command/RunJobCommand.php

		-
			message: "#^Loose comparison via \"\\!\\=\" is not allowed\\.$#"
			count: 1
			path: ../src/Command/WorkerCommand.php

		-
			message: "#^Call to function assert\\(\\) with true will always evaluate to true\\.$#"
			count: 1
			path: ../src/Executor/ProcessJobExecutor.php

		-
			message: "#^Instanceof between Symfony\\\\Component\\\\Process\\\\Process and Symfony\\\\Component\\\\Process\\\\Process will always evaluate to true\\.$#"
			count: 1
			path: ../src/Executor/ProcessJobExecutor.php

		-
			message: "#^Parameter \\#2 \\$end of class Orisai\\\\Scheduler\\\\Status\\\\JobResult constructor expects DateTimeImmutable, DateTimeImmutable\\|false given\\.$#"
			count: 1
			path: ../src/Executor/ProcessJobExecutor.php

		-
			message: "#^Parameter \\#6 \\$start of class Orisai\\\\Scheduler\\\\Status\\\\JobInfo constructor expects DateTimeImmutable, DateTimeImmutable\\|false given\\.$#"
			count: 1
			path: ../src/Executor/ProcessJobExecutor.php

		-
			message: "#^Parameter \\#3 \\$subject of function str_replace expects array\\|string, string\\|false given\\.$#"
			count: 1
			path: ../src/Job/CallbackJob.php

		-
			message: "#^Parameter \\#3 \\$expression of class Orisai\\\\Scheduler\\\\Status\\\\JobInfo constructor expects string, string\\|null given\\.$#"
			count: 1
			path: ../src/ManagedScheduler.php

		-
			message: "#^Parameter \\#3 \\$expression of class Orisai\\\\Scheduler\\\\Status\\\\PlannedJobInfo constructor expects string, string\\|null given\\.$#"
			count: 1
			path: ../src/ManagedScheduler.php

		-
			message: "#^Method Orisai\\\\Scheduler\\\\Status\\\\PlannedJobInfo\\:\\:getRunsCountPerMinute\\(\\) should return int\\<1, max\\> but returns int\\.$#"
			count: 2
			path: ../src/Status/PlannedJobInfo.php

		-
			message: "#^Parameter \\#2 \\$str of function explode expects string, string\\|null given\\.$#"
			count: 1
			path: ../tests/Unit/Command/RunCommandTest.php

		-
			message: "#^Parameter \\#2 \\$str of function explode expects string, string\\|null given\\.$#"
			count: 4
			path: ../tests/Unit/Command/RunJobCommandTest.php

		-
			message: "#^Parameter \\#2 \\$str of function explode expects string, string\\|null given\\.$#"
			count: 1
			path: ../tests/Unit/Command/WorkerCommandTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with 2 and 1 will always evaluate to false\\.$#"
			count: 1
			path: ../tests/Unit/Job/CallbackJobTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Orisai\\\\\\\\Scheduler\\\\\\\\Status\\\\\\\\JobSummary' and Orisai\\\\Scheduler\\\\Status\\\\JobSummary will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\Scheduler\\\\\\\\Doubles\\\\\\\\JobInnerFailure' and null will always evaluate to false\\.$#"
			count: 2
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Throwable' and Throwable will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertNotNull\\(\\) with Orisai\\\\Scheduler\\\\Status\\\\JobSummary will always evaluate to true\\.$#"
			count: 3
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertNotNull\\(\\) with null will always evaluate to false\\.$#"
			count: 6
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with 0 and 0 will always evaluate to true\\.$#"
			count: 2
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with 1 and 0 will always evaluate to false\\.$#"
			count: 3
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with 1 and 1 will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with 2 and 1 will always evaluate to false\\.$#"
			count: 4
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with 3 and 1 will always evaluate to false\\.$#"
			count: 1
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with 4 and 2 will always evaluate to false\\.$#"
			count: 1
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with array\\{'\\* \\* \\* \\* \\*', '1 \\* \\* \\* \\*'\\} and array\\{\\} will always evaluate to false\\.$#"
			count: 1
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with array\\{'\\* \\* \\* \\* \\*'\\} and array\\{\\} will always evaluate to false\\.$#"
			count: 1
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertTrue\\(\\) with false will always evaluate to false\\.$#"
			count: 1
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Dead catch \\- Tests\\\\Orisai\\\\Scheduler\\\\Doubles\\\\JobInnerFailure is never thrown in the try block\\.$#"
			count: 2
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^If condition is always true\\.$#"
			count: 3
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Parameter \\#2 \\$end of class Orisai\\\\Scheduler\\\\Status\\\\JobResult constructor expects DateTimeImmutable, DateTimeImmutable\\|false given\\.$#"
			count: 1
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Parameter \\#6 \\$start of class Orisai\\\\Scheduler\\\\Status\\\\JobInfo constructor expects DateTimeImmutable, DateTimeImmutable\\|false given\\.$#"
			count: 2
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: ../tests/Unit/SimpleSchedulerTest.php

		-
			message: "#^Parameter \\#2 \\$end of class Orisai\\\\Scheduler\\\\Status\\\\JobResult constructor expects DateTimeImmutable, DateTimeImmutable\\|false given\\.$#"
			count: 1
			path: ../tests/Unit/Status/JobResultTest.php
